.Towtruck {
  margin-bottom: 160px;
  > h1, p {
    margin-left: 30px;
    margin-right: 30px;
  }
  > p {
    > span {
      font-size: 32px;
      font-weight: bold;
    }
  }
  &__image {
    height: 1280px;
    background: url(./../../images/Towtruck.jpeg);
    background-size: cover;
    background-attachment: scroll;
    margin-top: 160px;
  }
}