.Sparepartsform {
  margin-top: 160px;
  > form {
    max-width: 900px;
    margin: 0 auto;
    > legend {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      font-size: 24px;
      > input {
        width: 500px;
        height: 40px;
        border-radius: 20px;
        font-size: 24px;
        outline: none;
      }
      > .PhoneInput {
        width: 500px;
        > input {
          height: 40px;
          border-radius: 20px;
          font-size: 24px;
          outline: none;
        }
      }
      > textarea {
        width: 500px;
        height: 100px;
        border-radius: 20px;
        font-size: 24px;
      }
      @media(max-width: 768px) {
        flex-direction: column;
        padding: 0 10px;
        box-sizing: border-box;
        > input {
          width: 100%;
          margin-top: 15px;
        }
        > .PhoneInput {
          width: 100%;
          margin-top: 15px;
        }
        > textarea {
          width: 100%;
          margin-top: 15px;
        }
      }
    }
    > button {
      display: block;
      margin: 0 auto;
      width: 500px;
      height: 40px;
      border-radius: 20px;
      // justify-content: center;
      @media(max-width: 768px) {
        width: 300px;
      }
    }
  }
}