.Redemptionauto {
  margin-bottom: 160px;
  > h1, h3, p, ul, ol {
    margin-left: 30px;
    margin-right: 30px;
  }
  &__image {
    height: 700px;
    background: url(./../../images/Redemptionauto.jpeg);
    background-size: cover;
    background-attachment: scroll;
    margin-top: 160px;
  }
}