.Redemptionauto {
  margin-bottom: 160px;
  &__image {
    height: 700px;
    background: url(./../../images/Redemptionauto.jpeg);
    background-size: cover;
    background-attachment: scroll;
    margin-top: 160px;
  }
}