.Homeheader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1080px;
    background: url(./../../images/Homeheader.jpeg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    &__wrapper {
        position: relative;
        width: 80%;
        height: 80%;
        border: 10px solid red;
        @media(max-width: 1440px) {
            width: 95%;
        }
    }
    &__title {
        width: calc(100% - 620px);
        box-sizing: border-box;
        padding-left: 30px;
        color: #fff;
        > h1 {
            font-size: 68px;
            margin-bottom: 40px;
            text-align: start;
            text-transform: uppercase;
        }
        > p {
            font-size: 40px;
        }
    }
    &__price {
        position: absolute;
        bottom: 15px;
        right: 15px;
        > a {
            display: flex;
            align-items: center;
            font-size: 30px;
            border: 5px solid red;
            border-radius: 40px;
            box-sizing: border-box;
            padding: 10px;
            // background: rgba(red, .4);
            color: red;
            > svg {
                font-size: 60px;
            }
            &:hover {
                border: 5px solid yellow;
                background: rgba(#ff0, .2);
                color: yellow;
            }
        }
    }
    @media(max-width: 1024px) {
        height: auto;
        &__wrapper {
            box-sizing: border-box;
            padding: 10px;
        }
        &__title {
            width: 100%;
            padding: 0;
            > h1 {
                font-size: 38px;
            }
            > p {
                font-size: 22px;
            }
        }
        &__price {
            position: relative;
            margin: 80px auto 40px;
            width: 80%;
            > a {
                font-size: 22px;
                > svg {
                    font-size: 60px;
                }
            }
        }
    }
    @media(max-width: 320px) {
        &__title {
            > h1 {
                font-size: 24px;
            }
            > p {
                font-size: 18px;
            }
        }
    }
}