.Advantages {
  margin-top: 160px;
  margin-bottom: 160px;
  > p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 80px;
    > span {
      font-weight: bold;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    gap: 60px;
  }
  &__item {
    text-align: center;
    > svg {
      font-size: 80px;
    }
  }
  &__image {
    margin-top: 160px;
    height: 400px;
    background: url(./../../images/Homedelimetr.jpeg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}