.Sale {
  margin-bottom: 160px;
  &__image {
    height: 480px;
    background: url(./../../images/Sale.jpeg);
    background-size: cover;
    background-attachment: scroll;
    margin-top: 160px;
  }
}