.Header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo social"
                       "menu menu";
  margin-bottom: 160px;
  &__logo {
    grid-area: logo;
    background: blue;
  }
  &__social {
    grid-area: social;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > p {
      margin-right: 30px;
      > a {
        color: #000;
        font-weight: bold;
        font-size: 32px;
        > svg {
          font-size: 48px;
        }
      }
    }
  }
  &__menu {
    grid-area: menu;
    padding: 0;
    > menu > ul {
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      > li {
        list-style: none;
        display: block;
        width: 100%;
        padding: 15px;
        border: 2px solid red;
        background: linear-gradient(#ff0, #FF7400);
        text-align: center;
        > a {
          display: block;
          width: 100%;
          height: 100%;
          display: flex;
          font-weight: bold;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
        }
        &:first-child {
          border-radius: 20px 0 0 20px;
        }
        &:last-child {
          border-radius: 0 20px 20px 0;
        }
        & .active {
          color: red
        }
      }
    }
  }
}