.Header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo social"
                       "menu menu";
  margin-bottom: 160px;
  &__logo {
    grid-area: logo;
    min-height: 150px;
    background: blue;
  }
    &__social {
    grid-area: social;
    display: grid;
    grid-template-areas: "tel whatsapp mail";
    grid-template-columns: 440px 1fr 1fr;
    align-items: center;
    &-tel {
      grid-area: tel;
    }
    &-whatsapp {
      grid-area: whatsapp;
    }
    &-mail {
      grid-area: mail;
    }
    > p {
      margin-right: 30px;
      text-align: center;
      &:nth-child(2) {
        > a {
          color: green;
        }
      }
      > a {
        color: #000;
        font-weight: bold;
        font-size: 32px;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        > svg {
          font-size: 48px;
          margin: 0 auto;
        }
        > p {
          margin: 0;
          text-align: center;
        }
      }
    }
    @media(max-width: 1440px) {
      grid-template-areas: "tel tel"
                           "whatsapp mail";
      grid-template-columns: 1fr 1fr;
    }
    @media(max-width: 320px) {
      > p {
        > a {
          font-size: 28px;
        }
      }
    }
  }
  &__menu {
    grid-area: menu;
    padding: 0;
    > menu > ul {
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      > li {
        list-style: none;
        display: block;
        width: 100%;
        padding: 15px;
        border: 2px solid red;
        background: linear-gradient(#ff0, #FF7400);
        text-align: center;
        > a {
          display: block;
          width: 100%;
          height: 100%;
          display: flex;
          font-weight: bold;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
        }
        &:first-child {
          border-radius: 20px 0 0 20px;
        }
        &:last-child {
          border-radius: 0 20px 20px 0;
        }
        & .active {
          color: red
        }
      }
    }
  }
  @media(max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas: "logo"
                         "social"
                         "menu";
    margin-bottom: 60px;
  }
}