.Scrap {
  margin-bottom: 160px;
  &__image {
    height: 1200px;
    background: url(./../../images/Scrap.jpeg);
    background-size: cover;
    background-attachment: scroll;
    margin-top: 160px;
  }
}