.Footer {
  background:url(./../../images/Footer3.jpg) no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding-bottom: 60px;
  // margin-top: 160px;
  color: #fff;
  h2 {
    text-align: start;
    margin-left: 30px;
  }
  display: grid;
  grid-template-columns: 2fr 1fr;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__social {
    margin-left: 30px;
    > h4 {
      > svg {
        font-size: 62px;
      }
    }
    > p {
      > a {
        text-decoration: none;
        color: #fff;
        font-size: 32px;
        &:hover {
          color: red;
        }
      }
    }
  }
  // &__image {
  //   background:url(./../../images/Footer2.jpg) no-repeat;
  //   background-size: cover;
  //   background-attachment: scroll;
  // }
}