.Footer {
  // margin-top: 160px;
  h2 {
    text-align: start;
  }
  display: grid;
  grid-template-columns: 2fr 1fr;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__social {
    > h4 {
      > svg {
        font-size: 62px;
      }
    }
    > p {
      > a {
        text-decoration: none;
        color: #000;
        font-size: 32px;
        &:hover {
          color: red;
        }
      }
    }
  }
  &__image {
    background:url(./../../images/Footer2.jpg) no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
}