.Makeorder {
  margin-bottom: 160px;
  > h2 {
    margin-bottom: 80px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items:baseline;
    flex-wrap: wrap;
  }
  &__item {
    text-align: center;
    max-width: 300px;
    > svg {
      font-size: 100px;
    }    
  }
  @media(max-width: 768px) {
    margin-bottom: 60px;
  }
}